include MANIFEST.in *.txt *.h
recursive-include examples *.h
recursive-include examples *.cpp
recursive-include python *.*
recursive-include third_party/pybind11 *.*
include .
geometry.h
model.h
our_gl.h
tinyrenderer.h
tgaimage.h
tinyshapedata.h
renderbuffers.h
  
